#bd
{
    /* background-image:url('https://i.pinimg.com/736x/dd/97/3a/dd973ac116a977c8dd5296b0da504b8c.jpg');
    background-size: cover; */
   /* background: linear-gradient(red,blue,red,blue,red,blue,red,blue); */
   background:radial-gradient(aqua,black);
       background-repeat:no-repeat;
       height: 100vh;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
}

#para1
{
    background-color: red;
    padding-bottom: 50px;
    border: 1px solid yellow;
}
#para1
{
    height: 100px;
    width: 100px;
    

}
