/*root selector*/
*
{
background-color: white;
}
body
{
background-color: antiquewhite;
font-family: 'Courier New', Courier, monospace;
font-size: 12px;
color: black;

}
div
{
    height: 50px;
    width:50px;
    background-color: white;
    border:1px solid black;
}
.first{
    background-color: red;
}
#box2
{
    background-color: green;
}
div>p /* child selector */
{
color: red;
}
/* div>p means p which direct child of div*/
/* div p means p which is descendent of div */
input[type="text"] /* property/attribute selector*/
{
background-color: green;
}
/* chain selector */
#first p,h1,h2
{
/* p inside first id, h1,h2*/
}
/* pseudo classes and pseudo selectors */
/* pseudo selectors - all pseudo selectors will contain : after selector */
/* selector: pseudo selector{
}*/
.first:hover
{
    background-color: yellow;
}
input:required{
    background-color: red;
}
input:optional{
    background-color: green;
}
input:read-only{
    height: 100px;
}
input:read-write{
    width: 100px;
}
input:disabled{
    background-color: aliceblue;
}
input:enabled
{
    background-color: red;
}
a{
    color: red;
}
a:visited{
color: black;
}
a:active{
color: yellow;
}
input:hover{
    background-color: black;
}
input:focus{
    background-color: white;
}
main{
    border: 2px solid red;
}
div:empty{
    background-color: aqua;
}
/* div:nth-child(odd)
{
    background-color: red;
} */
/* div:nth-last-child(even){
    background-color: red;
} */
div:nth-of-type(1){
    background-color: red;
}
/* pseudo classes - they come with :: */
#para::first-letter{
    color:red;
    font-size: 50px;
}
#para::first-line{
    color:green;

}
#para::after{
    content: "prasad";
}
#para::before{
    content:"prasad"
}

#para:hover{
    text-decoration: underline;
}
