#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
}
.product{
    padding: 50px;
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product:hover{
     box-shadow: 5px 5px var(--primary);
}
.product img{
    height: 100px;
    width: 200px;
}