.main{
    display:flex;
    gap: 20px;
    height: 100vh;
}
.box1{
    background-color: red;
    height:50px ;
   width: 50px;
   border-radius: 50%;
  animation: fall-down1 5s linear 1s infinite alternate;
  animation-fill-mode: both;
}
.box2{
     position: relative;
     bottom: 0%;
    background-color: blue;
    height:50px ;
   width: 50px;
   border-radius: 50%;
  animation: fall-down1 5s ease-in 1s infinite alternate-reverse;
  animation-fill-mode: both;
}
@keyframes fall-down1 {
    0%{
      position: relative;
      top: 0px;
    }
    25%{
      background-color: aqua;
    }
    50%{
        position: relative;
      top: 50%;
      background-color: blue;
    }
    100%{
 position: relative;
      top: 90vh;
    }
}
.box:hover{

}
/* .boxx{
    transition: all 3s ease;

}
.boxx:hover{
  transform:translate(100px,-50px);
    transition: all 3s ease;
} */
.boxx
{
    animation-name: prasad;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes prasad
{
    0%{
        height: 100px;width: 100px; background-color: blue;margin: 10px;
    }
    30%{
height: 150px;width: 150px; background-color: green;margin: 10px;
border-radius: 50%;
transform:translateX(200px);
    }
    60%{
height: 80px;width: 80px; background-color: black;margin: 10px;
transform:translateY(200px);
    }
    100%{
height: 50px;width: 50px; background-color: red;margin: 10px;
border-radius: 50%;
transform:translateX(100px);
    }

}


